.container{
  width: 400px;
  height: 400px;
  margin: 0 auto;
}
.blank{
  width: 100px;
  height: 100px;
  float: left;
  display: block;
  background: red;
  margin: 3px;
  border:2px solid;
  border-radius:10px;
}
